ul{
    padding-left: 0;
    margin-top: 20px;
    list-style-type: none;
}
.test-animation{
    height: 20px;
    margin-left: 15px;
    width: 30px;
    background: #929292;
    margin: auto;
}
.test-drag{
    height: 50px;
    margin: 15px;
    width: 50px;
    background: #929292;
}